*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body ,html {
    height: 100%;
    width: 100%;
}
.navbar{
    background-color:rgb(39,0,130) ;
    color: white;
   width: 100%;
}
ul li{
    list-style: none;
    color: white;
    margin-top: 1rem;
}
@media (max-width: 768px) {
   ul{
    display: none;
   }
}

.heading{
    position: absolute;
    color: aliceblue;
    top: 20rem;
    margin-left: 7rem;
    
}
.h1 {
    font-size: 6rem;
}
.h3{
    font-size: 2rem;
}
@media (max-width: 768px){

    .heading{
        top: 13rem;
        margin-left: 1rem;
    }
    .h1{
        font-size: 2rem;
    }
    .h3{
        font-size: 0.5rem;
    }
    .heading p{
        font-size: 0.3rem;
    }
}
.text{
    background-color: #281154;
    color: #f0f8ff;
   height: 60%;
   
}
.redbtn{
    background-color: red;
    border: none;
    padding: 0.5rem;
    color: white;
    margin-left: 45%;
}
.redbtn :hover{
  transition:0.2s ease-out;
  background-color: rgba(255, 0, 0, 0.849);
}
@media (max-width: 768px){
    .redbtn{
        margin-left: 35%;
    }
    .text p{
        font-size: 0.7rem;
        padding: 0.5rem;
    }
}